@font-face {
    font-family: 'BigCaslonFB';
    src: url('BigCaslonFB-Regular.woff')
}

@font-face {
    font-family: 'Futura';
    src: url('FuturaLT.woff')
}

@font-face {
    font-family: 'FuturaBook';
    src: url('FuturaLT-Book.woff')
}

body {
    margin: 0px;
    padding: 0px;
    font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #000;
}

#frame1 {z-index: 61;}

#container {
    position: absolute;
    display: block;
    background-color: #fff;
    width: 160px;
    height: 600px;
    overflow: hidden;
    border: 1px solid gray;
    opacity: 0;
    box-sizing: border-box;
}



.frameSize {
    position: absolute;
    width: 158px;
    height: 598px;
}

#bg {
    z-index: 1;
    opacity: 0;
}

#f1Logo {
    z-index: 5;
    transform: translateX(160px);
}

#f2Logo {
    z-index: 52;
    cursor: pointer;
}

#frame2 {
    background-color: white;
    opacity: 0;
    z-index: 50;
}

#f1Headline {
    position: absolute;
    font-family: 'BigCaslonFB';
    z-index: 5;
}

#f1cta {
    position: absolute;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 51;
    width: 158px;
    text-align: center;
    z-index: 5;
    font-family: 'Futura';
    text-decoration: underline;
    transform: translateX(-160px);
}

#footer {
    position: absolute;
    width: 158px;
    height: 69px;
    bottom: 0px;
    z-index: 51;
    background-color: #000;
}

#header {
    position: absolute;
    width: 158px;
    height: 42px;
    background-color: black;
    z-index: 53;
    cursor: pointer;
}

#offerText {
    position: absolute;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-family: 'FuturaMedium';
    font-family: 'Futura';
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    letter-spacing: .058em;
}


/* slider css */

.slider,
#f2click {
    position: absolute;
    width: 156px;
    height: 486px;
    z-index: 53;
    left: 0px;
    top: 43px;
    cursor: pointer;
}

#f2click {
    top: 0px;
    height: 598px;
    z-index: 60;
    width: 115px;
    left: 21px;
}

.frame {
    width: 156px;
    height: 100%;
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: inline-block;
    height: 100%;
}

li {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 100%;
    /* background-color: red; */
    font-size: 50px;
}

.prev,
.next {
    position: absolute;
    top: 0;
    left: 14px;
    display: block;
    cursor: pointer;
}

.prev {
    left: -24px;
}

.arrow {
    position: absolute;
    width: 15px;
    z-index: 99;
}

#arrowRight {
    top: 133px;
    left: 118px;
}

#arrowLeft {
    top: 142px;
    left: 33px;
}

.imageDiv {
    position: absolute;
    top: 121px;
    width: auto;
    width: 100px;
    height: 118px;
    left: 27px;
}

.brand {
    position: absolute;
    font-family: 'Futura';
    left: 0;
    top: 282px;
    font-size: 13px;
    width: 160px;
    text-align: center;
}

.productName {
    position: absolute;
    left: 15px;
    top: 290px;
    font-size: 11px;
    font-weight: 400;
    width: 130px;
    /* font-family: 'neuzeit-grotesk',sans-serif; */
    font-family: 'FuturaBook';
    white-space: normal;
    height: auto;
    line-height: 1.3em;
    text-align: center;
}

.productDescription {
    position: absolute;
    left: 0;
    top: 158px;
    font-size: 8px;
    font-weight: 400;
    width: 160px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-family: 'FuturaBook';
}

.price {
    position: absolute;
    left: 67px;
    top: 327px;
    font-size: 10px;
    font-weight: 400;
    width: 160px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-family: 'FuturaBook';
}

.cta2 {
    position: absolute;
    /* border: 1px solid black; */
    right: 0;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-family: sans-serif;
    font-weight: 900;
    /* height: 20px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 2px; */
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Futura';
}


/* IE10+ */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {}


/* Safari 11+ */

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {.cta2 {transform: translateX(-5px)}}
}





/* Mozilla */

@-moz-document url-prefix() {
    /*.imageDiv {
        top: 4px;
    }*/
    #offerText {
        margin-top: -1px;
    }
    .cta2 {
        font-weight: 500;
        letter-spacing: 0.5px;
        transform: translateX(-2px);
    }
}