@font-face {font-family: "MSB";src: url("../fonts/MSB.woff") format("woff");}
@font-face {font-family: "MSR";src: url("../fonts/MSR.woff") format("woff");}
@font-face {font-family: "MSemiBold";src: url("../fonts/MontserratSemiBold.woff") format("woff");}
@font-face {font-family: "MSemiRegular";src: url("MontserratRegular.woff") format("woff");}
* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;}

html,body {
    line-height: 1em;
    height: 100%;
    font-size:24px;
    font-family:"MSR";
    background-color:white;
    cursor:pointer;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;
}

#CTA_text{position:absolute;font-family:MSR;width:90%;top:3px;left:6px;text-align:center;line-height:100%;line-height:1.8em!important;}
#CTA_background_image{position:relative!important;}
#main{font-family:MSB}
#f1_headline_txt,#f2_headline_txt,#f3_headline_txt,#f4_headline_txt,#f1_subheadline_txt,#f2_subheadline_txt,#f3_subheadline_txt,#f4_subheadline_txt,#f4_disclaimer_txt,#footnote_txt{ font-family: "MSemiBold"; width:268px;line-height:1.3em!important;}

.macOS-safari #CTA_text{
  top: 5px;
}

.macOS-chrome #CTA_text{
  top: 4px;
}
#legal_copy {
  font-family: 'MSemiRegular';
  font-weight: 400;
  bottom: 5px;
  position: absolute;
  font-size: 7px;
  line-height: 1.1em;
  color: #fff;
  left: 10px;
  opacity: 0;
}